@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@5x00&display=swap");

/* center page */
* {
	font-family: "Open Sans", sans-serif;
}

body {
	text-align: center;
}
.jumbotron {
	text-align: center;
}

.nav-item:hover {
	background-color: rgb(224, 243, 255);
}
/*h1 - Park Ez change color, font and place
.title {
  color: #3498DB;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 3em
}

 style for the pay images 
.payImage {
  padding: 10px;
  height: 50px;
}

/* add space between html parts header, main, footer 
/*header, main, nav, footer {
  border-color: white;
  border-style: solid;
  margin: 10px;
}/**/
#colored_list h4 {
	padding-bottom: 4px;
}
#colored_list h2 {
	margin-bottom: 2px;
}
#colored_list {
	text-align: left;
	padding-left: 20px;
}
/*the text is on the left and right*/
/*#colored_list .left{
  text-align: left;
  padding-left: 20px;
}
#colored_list .right{
  text-align: right;
  padding-right: 20px;
}*/
